name: fancy_counter
description: A Flutter package providing two highly customizable, animated number counters AnimatedTextCounter and FlipCounter.
version: 0.1.0
homepage: https://github.com/bedii97/fancy_counter

environment:
  sdk: ^3.8.1
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0
flutter:
